.App {
  text-align: center;
}

.navbar{
  display: flex;
  background: linear-gradient(
    90deg, #672280 1.18%, #A626D3 100%
    );
    align-items: center;
}

.navbar-logo{
  width: 60px;
  height: 60px;
  margin: 15px;
  margin-left: 25px;
}

.navbar>h2{
  color: white;
}


.type{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.textbox{
  height: 25px;
  width: 40%;
  margin: 15px;
}

.submit-button{
  width: 80%;
  height: 35px;
  background: linear-gradient(
    90deg, #672280 1.18%, #A626D3 100%
    );
    color: white;
    margin: 0;
    border: 0;
    border-radius: 3px;
}

.meme {
  position: relative;
}

.meme-image{
  width: 60%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 250;
}